* {
    // outline: 1px dotted red;
}
.colorBox {
    display: flex;
    .yellow {
        display: inline-block;
        width: 25%;
        height: 10px;
        background-color: #fffbbd;
    }
    .orange {
        display: block;
        width: 25%;
        height: 10px;
        background-color: #ffd896;
    }
    .blue {
        display: inline-block;
        width: 25%;
        height: 10px;
        background-color: #70b9da;
    }
    .lightBlue {
        display: inline-block;
        width: 25%;
        height: 10px;
        background-color: #99e6e9;
    }
}
.jumbotron {
    font-family: 'Nunito', sans-serif;
    color: #787878 !important;
    background-color: white !important;
    .cta {
        text-align: center;
    }
    @media (min-width: 992px) {
        .cta {
            text-align: left;
        }
    }
    a {
        border: 1px solid #70b9da;
        background-color: #70b9da;
    }
    img {
        margin: 0 auto !important;
    }
}
.tri {
    font-family: 'Nunito', sans-serif;
    padding: 50px 0;
    color: #787878 !important;
    .features {
        display: block;
        width: 30%;
        margin: 0 auto;
    }
}
.feature {
    margin: 50px 0;
    font-family: 'Nunito', sans-serif;
    color: #787878 !important;
    img {
        display: block;
        width: 50%;
        margin: auto;
    }
}
.orangeFeature {
    padding: 40px 0;
    font-family: 'Nunito', sans-serif;
    color: white;
    background-color: #ffd896;
    img {
        display: block;
        width: 50%;
        margin: auto;
    }
}
.contact{
    font-family: 'Nunito', sans-serif;
    color: #787878 !important;
    padding: 50px 0;
    text-align: center;

    .cta {
        border: 1px solid #70b9da;
        background-color: #70b9da;
        color: white !important;
        padding: 25px;
    }
}
.commentSection {
    font-family: 'Nunito', sans-serif;
    color: #787878 !important;
    padding: 50px 0;
}
footer {
    font-family: 'Nunito', sans-serif;
    padding: 40px 0;
    color: white;
    background: black;
    li {
        float: left;
        padding: 0 10px;
        list-style: none;
    }
    a {
        color: white;
    }
    p {
        float: right;
    }
}
